.weather-app-layout {
    display: flex;
    justify-content: center;
    gap: 1.6rem;

    width: 100%;

    &__current-weather-side {
        flex: 2 0;
        max-width: 30rem;
    }

    &__forecast-side {
        flex: 2;
    }
}