.language-select {
    position: relative;

    &__button {
        display: flex;
        align-items: center;
        gap: .2rem;

        background-color: transparent;
        border: none;

        font-size: 0;

        cursor: pointer;

        &:focus-visible {
            outline: .2rem solid @colors[primary-80];
            outline-offset: .2rem;
        }
    }

    &__button-flag {
        height: 1.6rem;
    }

    &__dropdown-icon {
        width: 2rem;
        height: 2rem;

        transition: all .2s;

        svg {
            width: 100%;
            height: 100%;
            fill: @colors[grey-80];
        }
    }
    &__button--opened &__dropdown-icon {
        transform: rotate(180deg);
    }

    &__items {
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 15;

        background-color: @colors[grey-0];
        border-radius: .8rem;
        box-shadow: 0 .4rem .8rem rgba(@colors[grey-90], .2);

        transform-origin: top;
        transform: scale(0);

        transition: all .2s;

        overflow: hidden;

        &--opened {
            transform: scale(1);
        }
    }

    &__item {
        display: flex;
        align-items: center;
        gap: .8rem;

        font-size: 1.6rem;
        line-height: 1;

        color: @colors[grey-80];
        background-color: @colors[grey-0];
        border: none;

        width: 100%;

        padding: 1.2rem;

        cursor: pointer;

        &:focus-visible {
            outline: .2rem solid @colors[primary-80];
            outline-offset: -.4rem;
        }

        &:not(:last-child) {
            border-bottom: .1rem solid @colors[grey-5];
        }
    }

    &__item-flag {
        height: 1.6rem;
    }
}